#form {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width:500px;
    height:300px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    background-color: bisque;
}

label {
    line-height: 1.5;
    color: blue;
    font-weight: 500;
    letter-spacing: 1.2px;
}
input {
    border:1px solid red;
    padding: 5px;

}
button {
    padding: 5px;
    width:100px;
    height:40px;
    background:aquamarine;
}